ladieswear_articleID_1.pkl
ladieswear_articleID_2.pkl
ladieswear_articleID_3.pkl
ladieswear_image_1.pkl
ladieswear_image_2.pkl
ladieswear_image_3.pkl
menswear_articleId.pkl
menswear_image.pkl
transactions_train.csv
recommendations.ipynb
customers.csv

requirements.txt
projvenv/
df1.1.pkl
df2.1.pkl
df3.1.pkl
articles.csv
recommendations_database.db
web-app/__pycache__/app.cpython-38.pyc
web-app/recommendations_database.sqlite3
checkjoblib.ipynb
Clothes_Inventory
Clothes_Inventory.pkl
