<html>
  <body>
    <h1>Clothing Recommendations</h1>
    <form action="http://127.0.0.1:5000/" method="post">
      <p>Please enter the net profit to total asset ratio:</p>
      <p><input type="number" step="0.01" name="NPTA" /></p>
      <p>Please enter the total liability to total asset ratio:</p>
      <p><input type="number" step="0.01" name="TLTA" /></p>
      <p>Please enter the working capital to total asset ratio:</p>
      <p><input type="number" step="0.01" name="WCTA" /></p>
      {{result}}
      <p><input type="submit" value="Enter" /></p>
    </form>
  </body>
</html>
